<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/html"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title>Edit book</title>
</head>
<body>
<h3>Редактирование данных о книге</h3>

<!--<form th:method="PATCH" th:action="@{/books/{id}(id=${book.id})}" th:object="${book}">-->
<form th:method="POST" th:action="@{/books/{id}/edit(id=${book.id})}" th:object="${book}">
    <label for="name">Введите название книги: </label>
    <input type="text" th:field="*{name}" id="name">
    <div style="color: red" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name error</div>
    <br/>
    <label for="author">Введите автора: </label>
    <input type="text" th:field="*{author}" id="author">
    <div style="color: red" th:if="${#fields.hasErrors('author')}" th:errors="*{author}">Author error</div>
    <br/>
    <label for="year">Введите год: </label>
    <input type="text" th:field="*{year}" id="year">
    <div style="color: red" th:if="${#fields.hasErrors('year')}" th:errors="*{year}">Year error</div>
    <br/>
    <input type="submit" th:value="Редактировать">
</form>

<br/>
<hr/>
<a href="/books">Список книг</a>

</body>
</html>